@{
    ViewData["Title"] = "Poducts";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="mt-5 m-2 pb-3 pt-5 d-flex justify-content-between">
    <h2>Product List</h2>
    <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary align-text-center mt-2"><i class="fa-solid fa-plus  "></i> Create Product</a>
</div>
<table id="productsTable" class="table table-bordered table-striped w-100 m-1">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Category</th>
            <th>Price</th>
            <th>Controll</th>
           
        </tr>
    </thead>
    <tbody>

    </tbody>
</table> 

@section Scripts{
    <script src="~/js/product.js"></script>
}