
@{
    ViewData["Title"] = "Index";
}

<div class="mt-5 pb-3 pt-5 d-flex justify-content-between">
    <h2>Product List</h2>
    <a asp-controller="Product" asp-action="Upsert" class="btn btn-warning align-text-center mt-2"><i class="fa-solid fa-plus  "></i> Create Product</a>
</div>
<table class="table table-bordered table-striped w-100">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authow</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table> 