@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="m-5 pb-3 pt-5 d-flex justify-content-between">
    <h2>Roles List</h2>
    <a asp-action="Create" class="btn btn-primary align-text-center "><i class="fa-solid fa-plus  "></i> Create Role</a>
</div>
<table class="table  w-100 m-5 me-5">
    <thead>
        <tr>
            
            <th class="">Role Name</th>
            <th class="">Role Users</th>

       
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                
                <td data="w-50">
                    <strong class="text-center"> @role.Name</strong>
                </td>
                <td >
                    <div class="">
                    <a asp-action="RoleUsers" asp-route-role="@role.Name">
                        <i class="fa-solid fa-users"> </i>
                    </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table> 