html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
 
}
.hover-zoom {
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
        transform: scale(0.9);
}
.main{
margin-left:auto;
margin-right:auto;
min-width:auto;
max-width:100%;
width:auto;
align-content:center;
align-items:center;
}