@model Category

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Admin.cshtml";
}
<form method="post" asp-action="Create">
	<div class=" p-3 mt-4 d-flex flex-column align-items-start justify-content-center w-100">
		<div class="d-flex w-75 justify-content-between">
			<h2>Create Ctategory</h2>
			<a class="btn btn-danger mt-3" asp-action="Index">
				<i class="fa-solid fa-arrow-left"></i> Back To lsit
			</a>
		</div>
		<div class="mt-3 w-75">
			<label asp-for="Name" class="mb-1 fs-5"></label>
			<input asp-for="Name" class="form-control w-100" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mt-3 w-75">
			<label asp-for="DisplayOrder" class="mb-1 fs-5"></label>
			<input asp-for="DisplayOrder" class="form-control w-100" />
			<span asp-validation-for="DisplayOrder" class="text-danger"></span>

		</div>

			<button type="submit" class="btn btn-primary mt-3">
				<i class="fa-solid fa-plus  "></i> Create
			</button>
		

	</div>


</form>
