@model IEnumerable<Category> 

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="mt-5 pb-3 pt-5 d-flex justify-content-between">
    <h2>Categories List</h2>
    <a asp-action="Create" class="btn btn-warning align-text-center mt-2"><i class="fa-solid fa-plus  "></i> Create Category</a>
</div>
<table class="table table-bordered table-striped w-100">
    <thead>
        <tr>
            <th class="w-50">Category Name</th>
            <th class="w-50">Display Order</t>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td data="w-50">
                    @category.Name
                </td>
                <td data="w-50">
                    @category.DisplayOrder
                </td>
                <td class="w-auto">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">
                        <i class="fa-regular fa-pen-to-square" style="color: #12ce31;"></i>
                    </a>
                </td>
                <td >
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" >
                    <i class="fa-regular fa-trash-can" style="color: #f21f07;"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table> 