@using Models.ViewModel;
@model ForgetPasswordViewModel
@{
	ViewData["Title"] = "Reset Password";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Reset Password</h3></div>
                <div class="card-body">
                    <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                    <form method="post" asp-action="SendEmail">
                        <div class="form-floating mb-3">
                            <div asp-validation-summary="All"class="text-danger m-3"></div>
                            <input class="form-control" asp-for="Email" type="email" placeholder="name@example.com" />
                            <label for="inputEmail">Email address</label>
							<span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" asp-action="Login">Return to login</a>
                            <button type="submit" class="btn btn-primary" href="login.html">Send Email</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a asp-action="Register">Need an account? Sign up!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>