@using Models.ViewModel;
@model OrderHeader
<div class="container row">

	<div class="col-12 text-center">
		<h1 class="text-primart text-center">Order Submitted Successfully! </h1>
		
		<h4 >Order Number : @Model.Id</h4>
		<h4 >Address : @Model.Address</h4>
		<h4 >payment status : @Model.PaymentStatus</h4>
		<h4>Order Status : @Model.OrderStatus</h4>
		<img src="~/Images/assets/order.jpg" width="75%">
	</div>


</div>